.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #014ba1!important;
   
}

header{
    background-color: #014ba1!important;
}


.row {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

nav{
    padding: 0!important;
}

main{
    background-color: white;
}
