$primary-color: #003b80;
$success-color: #008060;
$info-color: #30d5c8;
$warning-color: #ff8c00;
$accent-color: #ffd700;

@use "bootstrap/scss/bootstrap" with (
  $theme-colors: (
    "primary": $primary-color,
    "success": $success-color,
    "info": $info-color,
    "warning": $warning-color,
    "accent": $accent-color),

  );
